<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--真正可以产生connection的connectionFactory,由对应的JMS厂商提供-->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://192.168.12.168:61616"/>
    </bean>
    <!--spring用于管理真正的connectionFactory的connectionFactory-->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>
    <!--队列模式，搜索系统在商品审核后接收的商品列表队列 -->
    <bean id="itemSolrQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_item_solr_queue"/>
    </bean>
    <!--messageListener实现类-->
    <bean id="itemImportMessageListener"
          class="com.pinyougou.search.activemq.listener.ItemImportMessageListener"/>
    <!--配置jms监听器-->
    <bean id="jmsListenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="itemSolrQueue"/>
        <property name="messageListener" ref="itemImportMessageListener"/>
    </bean>
    <!--队列模式，搜索系统在商品删除后接收的商品列表队列 -->
    <bean id="itemDeleteSolrQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="pinyougou_item_solr_delete_queue"/>
    </bean>
    <!--messageListener实现类-->
    <bean id="itemDeleteMessageListener"
          class="com.pinyougou.search.activemq.listener.ItemDeleteMessageListener"/>
    <!--配置jms监听器-->
    <bean id="jmsListenerContainer2" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="itemDeleteSolrQueue"/>
        <property name="messageListener" ref="itemDeleteMessageListener"/>
    </bean>
</beans>